.donate-body {
  background-color: rgb(228, 239, 151);
  background-image: none;
  min-height: 1080px;
  display: flex;
}

.donate-thank-you-message {
  font-size: 32px;
  color: black;
  position: relative;
  top: -70px;
  margin-top: 50px;
}

.donate-form {
  background-color: rgb(243, 132, 132);
  width: 780px;
  position:absolute;
  height: 690px;
  top: 150px;
  left: 100px;
}

.donate-donation-type-div {
  margin-top: 15px;
}

.donate-donation-type-message {
  font-size: 24px;
  margin-left: 25px;
}

.donate-donation-type {
  margin-left: 10px;
  height: 25px;
}

.donate-name-section {
  font-size: 24px;
  margin-left: 25px;
}

.donate-enter-name {
  margin-left: 25px;
  width: 200px;
  height: 30px;
  font-size: 18px;
  background-color: white;
  color: black;
}

.donate-amount-section-div {
  margin-top: 15px;
}

.donate-amount-section {
  font-size: 24px;
  color: black;
  margin-left: 25px;
}

.donate-enter-amount {
  margin-left: 25px;
  width: 200px;
  height: 30px;
  font-size: 18px;
  background-color: white;
  color: black;
}

.donate-enter-amount-div { /* The only purpose of this div is to add margin-top to the input field */
  margin-top: 10px;
}

.donate-note-section {
  font-size: 24px;
  color: black;
  margin-left: 25px;
}

.donate-note-div { /* The only purpose of this div is to add margin-top to the textarea field */
  margin-top: 25px;
}

.donate-note-box {
  color: black;
  background-color: white;
  margin-left: 25px;
  font-size: large;
  width: 670px;
  height: 200px; 
  overflow: hidden;
}

.donate-character-counter-div {
  margin-left: 618px;
  width: fit-content;
  background-color: white;
}

.donate-character-counter {
  font-size: 20px;
  color: black;
}

.donate-logo-section {
  font-size: 22px;
  color: black;
  margin-left: 25px;
}

.donate-upload-logo {
  margin-left: 25px;
  font-size: 18px;
  background-color: white;
  color: rgb(0, 0, 0);
}

.donate-clover-button-div {
  margin-top: 30px;
  margin-left: 25px;
}

.donate-clover-button {
  width: 200px;
  height: 40px;
  background-color: rgb(59, 149, 6);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 30px;
}

.donate-clover-button:hover {
  cursor: pointer;
  background-color: rgb(59, 149, 6);
  opacity: 0.8;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.15);
}