.forgot-body {
  background-color: white;
}

.forgot-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-label {
  font-size: 20px;
  margin-top: 30px;
  color: black;
}

.forgot-email-input {
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  margin-top: 10px;
}

.forgot-button {
  width: 200px;
  height: 40px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.reset-message {
  margin-top: 20px;
  font-size: 18px;
  margin-left: 350px;
}

.forgot-note {
  margin-top: 15px;
  font-size: 18px;
  color: #333;
  text-align: center;
}
