* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shopping-body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: #333;
    height: 2500px;
    display: flex;
    flex-direction: column;
}

.menu-header {
    font-size: 45px;
    color: black;
    text-align: center;
    margin-bottom: 40px;;
}

.menu-description {
    font-size: 20px;
    color: black;
    text-align: center;
    margin-bottom: 40px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.menu-topic{
    font-size: 30px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.token-image {
    width: 250px;
    height: 250px
}

.token-prices {
    margin-top: 20px;
    font-size: 18px;
    background-color: white;
    width: 180px;
    border-radius: 5px;
}

.food-image {
    width: 300px;
    height: 300px
}

.food-name {
    color: black
}

.food-container{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width: max-content;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.food-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}

.token-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}

.token-container {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width: max-content;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.token-name {
    color: black;
}

.total-price {
    font-size: 24px;
    color: black;
}

.reset-button {
    background-color: rgb(148, 10, 10);
    margin-top: 10px;
    width: 150px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
