.signup-body {
  background-color: white;
  background-color: rgb(96, 197, 103);
  height: 1020px;
  overflow: hidden;
  background-image: url('../images/logo_01.jpeg');
  background-repeat: no-repeat, no-repeat;
  background-position: 70px 200px;
  background-size: 350px;
}

.signup-border {
  width: 750px;
  height: 600px;
  background-color: rgb(254, 254, 254);
  margin-bottom: 200px;
  margin-left: 300px;
  border-radius: 20px;
  border-style: solid; /* This create the black outline of the border */
  box-shadow: 6px 5px 8px rgba(0, 0, 0, 0.05);
  border-color: black;
}

.signup-text {
  margin-left: 265px;
  font-size: 65px;
  color: black;
}

.signup-logo-02 {
  margin-top: 50px;
  margin-left: 220px;
  width: 350px;
}

.signup-form {
  margin-top: 50px;
}

.signup-email-section {
  font-size: 35px;
  margin-left: 160px;
  height: 50px;
  width: 450px;
  color: black;
}

.signup-email-textbox {
  width: 250px;
  height: 25px;
  margin-left: 10px;
  vertical-align: 25%;
  background-color: white;
}

input[type="email"] { /* Changes the text the user enters to black */
  color: black;
}

.signup-password-section {
  font-size: 35px;
  margin-top: 160px;
  margin-left: 160px; 
  height: 50px;
  width: 450px;
  color: black;
}

.signup-password-section-span {
  margin-top: auto;
}

.signup-password-textbox {
  width: 250px;
  height: 25px;
  margin-left: 10px;
  vertical-align: 25%;
  background-color: white;
}

input[type="text"] { /* Changes the text the user enters to black */
  color: black;
}

input[type="password"] { /* Changes the password the user enters to black */
  color: black;
}

.signup-button {
  margin-left: 215px;
  color: white;
  font-size: 15px;
  width: 300px;
  height: 35px;
  border-radius: 30px;
  background-color: rgb(37, 187, 52);
}

.signup-button:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.15);
}

.signup-show-password-button {
  background-color: rgba(164, 161, 161, 0.887);
  color: rgb(0, 0, 0);
  width: fit-content;
  height: 28px;
  font-size: 13px;
}

.signup-show-password-button:hover {
  cursor: pointer;
  background-color: rgba(164, 161, 161, 0.887);
  opacity: 0.8;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.15);
}

.signup-login-link {
  font-size: 23px;
  margin-left: 320px;
}

.signup-password-div { /* The only purpose of this div is to add margin to the top of the password section */
  margin-top: 10px;
}

.signup-button-div { /* The only purpose of this div is to add margin to the top of the signup button */
  margin-top: 20px;
}

.signup-login-link-div { /* The only purpose of this div is to add margin to the top of the login link */
  margin-top: 20px;
}

/* --- New: First/Last name to match email/password --- */
.signup-name-label {
  font-size: 35px;
  margin-left: 160px;
  height: 50px;
  width: 450px;
  color: black;
}

.signup-name-textbox {
  width: 250px;
  height: 25px;
  margin-left: 10px;
  vertical-align: 25%;
  background-color: white;
}

/* --- New: status messages consistent spacing --- */
.signup-error,
.signup-success {
  margin-top: 10px;
  margin-left: 160px;
  width: 450px;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 6px;
}

.signup-error { background: #ffe5e5; color: #900; border: 1px solid #f5b5b5; }
.signup-success { background: #e6ffe9; color: #0a5; border: 1px solid #b8f0c2; }

/* Optional: keep the Show/Hide button aligned with inputs */
.signup-show-password-button {
  margin-left: 10px;      /* add to match input spacing */
  vertical-align: 25%;
}